@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Bebas Neue', cursive;
    color: white;
    background-color: black;
}

#title {
    font-family: 'Londrina Outline', cursive;
    font-size: 10rem;
    -webkit-text-fill-color: #FFE81F;
}

.saber {
    width: 500px;
    max-height: 500px;
}

.boxed {
    display: block;
    margin: auto;
    padding: 20px 0;
    border: 1px solid #FFE81F;
    width: min(12%);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 22px;
    gap: 10px;
}

div img {
    width: 200px;
    height: 300px;
    border-radius: 50%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 300px;
    text-align: center;
}

.card img:hover {
    transform: scale(1.05);
    transition: all ease;
    border-radius: 10%;
    
}